.component {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 5px;
}

.component h1 {
    text-align: right;
    color: lightgray;
    margin: 5px;
    font-size: 20px;
}

.component .error {
    color: red;
}

.menu {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.menu a {
    margin: 5px;
    text-decoration: none;
    color: blue;
}