*.pptx
*.iml
.idea/
target

# H2 database files.
*.mv.db
*.trace.db

# Tool downloads.
tools

# Generated webpack, npm and resource files.
src/main/frontend/node_modules
src/main/frontend/node
src/main/frontend/etc
src/main/frontend/bundle.*
src/main/resources/public
